.clientimg1{
  height:500px;
  width:1400px;
}
.business{
  font-size: 30px;
  font-weight: bold;
  font-style: Lato-Semibold;

}
.process{
  font-size: 30px;
  font-weight: bold;
  font-style: Lato-Semibold;
  color: red;
  
}
