.client{

  padding-top: 20px;
}
.background {
    background: url('../../assets/images/Asset 119@4x.png') no-repeat;
    background-size: cover;

}
.clientimg{
  height:120px;
  width:220px;
  margin-left: auto;
    margin-right: auto;

}
.clienttxt{
  color:white;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}
.clienttxt1{
  color:white;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 24px;
}
.clienttxt2{
  color:red;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 24px;
}
